@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

body{
    color: black;
    text-align: center;
    font-family: 'Shizuru';
}

.email{
    text-align: center;
    color: blue;
}

#para1{
    text-align: center;
    color: blue;
}

