@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

body{
    color: black;
    text-align: center;
    font-family: 'Shizuru';
}

.email{
    text-align: center;
    color: lightskyblue;
}

#para1{
    text-align: center;
    color: blue;
}

.bottom{
    background-image: url('images/pexels-kevin-ku-577585.jpg');
}

#para2{
    color: gray;
}

